:root {
    --black1: #19191B;
    --black2: #393F48;
    --black3: #757D8E;
    --black4: #B7BBCB;
    --black5: #BFC3D7;
    --black6: #DEE1EB;
    --black7: #F0F1F5;
    --black8: #F6F7FB;

    --white: #ffffff;

    --blue1: #0B2556;
    --blue2: #1A3975;
    --blue3: #00538E;
    --blue4: #2B5D99;
    --blue5: #1C84CF;
    --blue6: #608EE8;

    --green1: #009990;
    --green2: #4F959D;

    --navy: #547792;

    --yellow: #DDA853;

    --beige: #ADA991;

    --gray: #565B65;

    --member-gdnt: linear-gradient(228.37deg, #254D9A 2.94%, #1A3975 97.06%);
    --button-dark-gdnt: linear-gradient(180deg, #2B5BB9 0%, #1A3975 100%);
    --button-light-gdnt: linear-gradient(180deg, #1C84CF 0%, #0F6DB2 100%);
    --join-gdnt: linear-gradient(180deg, #EBEAFF 0%, #D9D7FA 100%);
    --be-partner-gdnt: linear-gradient(180deg, #F6EFBD 0%, #E4DCA6 100%);
    --text-gndt: linear-gradient(180deg, #68C0FF 50.39%, #1C84CF 100%);
    --partners-gdnt: linear-gradient(90deg, #123B88 0%, #0B2556 100%);
    --footer-gdnt: linear-gradient(360deg, #08132A 0%, #0B2967 100%);
    --speech-gdnt: linear-gradient(90deg, #173c8219 0%, #173c824c 100%);
    --alliance-gdnt: linear-gradient(90deg, #2A9AEB 0%, #1C84CF 100%);

    --text: #050D1C;
}

@font-face {
    font-display: swap;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('./../fonts/lato-v24-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url('./../fonts/lato-v24-latin-700.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: url('./../fonts/lato-v24-latin-900.woff2') format('woff2');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scrollbar-width: thin;

    &::before {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        scroll-behavior: smooth;
        scrollbar-width: thin;
    }

    &::after {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        scroll-behavior: smooth;
        scrollbar-width: thin;
    }
}

html {
    overflow-x: hidden;

}

body {
    height: 100%;
    position: relative;
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
    font-family: "Lato", sans-serif;
    color: var(--white);

    ::selection {
        background: var(--blue6);
        color: var(--white);
    }

    ::-moz-selection {
        background: var(--blue6);
        color: var(--white);
    }
}

button {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    -webkit-touch-callout: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    flex-direction: row;
}


select,
option {
    background: inherit;
    color: inherit;
    border: 0;
    line-height: 130%;
}

span {
    font-size: inherit;
    font-weight: inherit;
}

img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    -webkit-touch-callout: none;
    text-decoration: none;
}


ul,
ol {
    list-style: none;

    li {
        list-style: none;
    }
}


h1 {
    line-height: 1;
    font-weight: bold;
    font-size: 74px;
}

h2 {
    line-height: 1.2;
    font-weight: bold;
    font-size: 40px;

}

h3 {
    line-height: 1.2;
    font-weight: 800;
    font-size: 50px;
}

h4 {
    line-height: 1.2;
    font-weight: bold;
    font-size: 50px;
}

h5 {
    line-height: 1.2;
    font-size: 40px;
    font-weight: bold;
}

p {
    line-height: 1.3;
}

a {
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    -webkit-touch-callout: none;
    text-decoration: none;
}

.subtitle-1 {
    font-weight: bold;
    font-size: 26px;
    line-height: 1.2;
}

.subtitle-2 {
    font-weight: bold;
    font-size: 24px;
    line-height: 1.2;
}

.subtitle-3,
.subtitle-4,
.subtitle-5 {
    font-weight: bold;
    font-size: 20px;
    line-height: 1.3;
}

.body-text,
.body-text-2 {
    font-weight: 400;
    line-height: 1.3;
    font-size: 19px;
}

.body-text-1 {
    @extend .body-text;
    font-weight: 500;
}

.body-text-3 {
    @extend .body-text;
    font-size: 18px;
}

.body-text-4 {
    @extend .body-text;
    font-size: 16px;
}

.hidden {
    display: none !important;
}

.w-100 {
    width: 100%;
}

.container {
    max-width: 1632px;
    margin: 0 auto;
    padding: 0 16px;
    width: 100%;
}

.highlight-title {
    background: var(--text-gndt);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title-blue {
    color: var(--blue5);
    font-weight: bold;
}

main {
    position: relative;

    section {
        background: var(--white);
    }
}

.btn {
    justify-content: center;
    color: var(--white);
    border: 0;
    padding: 12px 16px;
    border-radius: 12px;
    background: linear-gradient(180deg, #2B5BB9 0%, #1A3975 100%);
    font-weight: 500;
}


.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    background-color: var(--blue1);
    border-bottom: 1px solid #FFFFFF26;

    .container {
        display: flex;
        justify-content: space-between;
        padding: 0 16px;

        .inner-container {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            width: 100%;

            @media (max-width: 960px) {
                font-size: 14px;
                gap: 12px;
                justify-content: space-around;
                flex-wrap: wrap;
            }

            .divider {
                width: 1px;
                height: 32px;
                background-color: rgba(255, 255, 255, 0.3);
                display: flex;
                align-items: center;
                flex-direction: column;
            }

            .contacts {
                display: flex;
                flex-direction: row;
                align-items: center;
                font-size: 16px;
                gap: 20px;

                @media (max-width: 436px) {
                    justify-content: space-around;
                    flex-wrap: wrap;

                    .divider {
                        display: none;
                    }
                }


                a {
                    gap: 6px;
                    color: var(--white);
                    display: flex;
                    align-items: center;
                }

            }

            .accessibility {
                display: flex;
                flex-direction: row;
                align-items: center;
                font-size: 16px;
                gap: 16px;

                @media (max-width: 436px) {
                    gap: 8px;
                    justify-content: space-around;
                    flex-wrap: wrap;
                }

                a {
                    gap: 6px;
                    color: var(--white);
                    display: flex;
                    align-items: center;
                }
            }




        }
    }
}

.nav {
    position: absolute;
    top: 52px;
    width: 100%;
    z-index: 3;
    display: flex;
    align-items: center;
    backdrop-filter: blur(20px);
    background: #07051C14;

    .container {
        display: flex;
        justify-content: space-between;
        padding: 0;

        @media (max-width: 768px) {
            display: none;
        }

        .nav-main {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 30px;

            ul {
                display: flex;
                justify-content: center;
                gap: 24px;
                flex-wrap: wrap;

                li a {
                    color: var(--white);
                }
            }

            @media(max-width:1024px) {

                min-width: 533px;

                ul {
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

        .cabinet {
            background: var(--button-dark-gdnt);
            gap: 6px;
            padding: 12px 16px;
        }

        .nav-buttons {
            display: flex;
            flex-direction: row;
            padding: 12px;
            gap: 12px;

            @media (max-width: 1024px) {
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            .nav-btn {
                background: #ffffff1a;
                height: 48px;
                width: 48px;
                border: 0;
                backdrop-filter: blur(20px);
            }
        }
    }


}

.hero {
    max-height: 1100px;
    // min-height: calc(100vh - 52px); // OPTIONAL
    display: flex;
    flex-direction: column;
    color: var(--white);
    background-color: transparent !important;

    .video-wrapper {
        z-index: -1;

        video {
            width: 100vw;
            height: 100vh;
            object-fit: cover;
            position: fixed;
            inset: 0;
            z-index: -1;
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .video-overlay {
            position: absolute;
            inset: 0;
            background: #050D1C99;

        }
    }


    .container {
        position: relative;
        z-index: 2;
        padding-top: 400px;

        @media(max-width:1024px) {

            padding-top: 220px;
        }

        .hero-wrapper {
            max-width: 732px;
            margin: 0 auto;
            display: flex;
            gap: 16px;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h1 {
                @extend h1;
                @extend .highlight-title;
                line-height: 1;
                margin-top: 2px;
                text-align: center;
            }

            h2 {
                font-weight: normal;
                line-height: 1;
                font-size: 55px;
                text-align: center;
                color: var(--white);
            }

            p {
                @extend .body-text-3;
                text-align: center;
                font-weight: normal;
            }
        }

        .card-wrapper {
            padding: 40px 0;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 16px;

            .card {
                width: 524px;
                justify-content: space-between;
                align-items: start;
                flex-direction: column;
                display: flex;
                color: var(--text);
                padding: 20px;
                height: 200px;
                position: relative;
                border-radius: 16px;
                overflow: hidden;

                .inner-wrapper {
                    display: flex;
                    flex-direction: column;
                    max-width: 287px;
                    gap: 10px;
                    color: var(--black1);
                    position: relative;

                    @media (max-width:480px) {
                        max-width: 100%;
                    }

                    span {
                        @extend .subtitle-2;
                        font-size: 24px;
                        font-weight: bold;
                        line-height: 1.2;
                    }

                    p {
                        @extend .body-text-3;
                        font-size: 18px;
                    }


                }

                a {
                    @extend .body-text-1;
                    color: var(--blue1);
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    gap: 4px;
                }

                .img-card {
                    position: absolute;
                    right: 0;
                    top: 0;

                    @media (max-width:480px) {
                        transform: scale(66%) translate(26%, 26%);
                        bottom: 0;
                        position: absolute;
                        right: 0;
                    }
                }
            }

            .card1 {
                background: linear-gradient(180deg, #EBEAFF 0%, #D9D7FA 100%);

            }

            .card2 {
                background: linear-gradient(180deg, #F6EFBD 0%, #E4DCA6 100%);
            }
        }
    }


}

.about::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url("./../images/backgorund-wave.png") center no-repeat var(--black8);
    background-size: cover;
    opacity: 0.3;
    z-index: -1;
}

.about {
    position: relative;
    color: var(--black1);
    z-index: 1;



    .container {

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;

        padding: 120px 16px;

        .about-wrapper {
            max-width: 792px;
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 12px;
            padding: 16px 0;
            justify-content: center;

            @media(max-width:1332px) {
                align-items: center;
                margin: 0 auto;
                justify-content: center;
                text-align: center;
            }

            h3 {
                font-size: 50px;
                font-weight: normal;

            }

            span {
                color: var(--blue5);
            }

            .btn-about {
                background: var(--button-light-gdnt);
                border-radius: 12px;
                gap: 10px;

            }
        }

        .solar-wrapper {
            width: 500px;
            height: 500px;
            border-radius: 10px;
            overflow: hidden;
            display: flex;
            min-width: 379px;

            .solar-system {
                width: 500px;
                height: 500px;
                position: relative;

                .sun {
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    position: absolute;
                    top: 50%;
                    background: #fff;
                    left: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transform: translate(-50%, -50%);
                    z-index: 10;
                }

                .orbit {
                    position: absolute;
                    border: 2px dashed var(--blue1);
                    border-radius: 50%;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);

                    &1 {
                        width: 240px;
                        height: 240px;
                    }

                    &2 {
                        width: 280px;
                        height: 280px;
                    }

                    &3 {
                        width: 320px;
                        height: 320px;
                    }

                    &4 {
                        width: 360px;
                        height: 360px;
                    }

                    &5 {
                        width: 400px;
                        height: 400px;
                    }
                }


                .planet-container {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    animation: rotate 30s linear infinite;

                    &.planet2 {
                        animation-delay: -6s;
                    }

                    &.planet3 {
                        animation-delay: -12s;
                    }

                    &.planet4 {
                        animation-delay: -18s;
                    }

                    &.planet5 {
                        animation-delay: -24s;
                    }
                }


                .planet {
                    position: absolute;
                    top: 50%;
                    width: 100px;
                    height: 100px;
                    transform: translateY(-50%);
                    animation: counter-rotate 30s linear infinite;
                    background: #fff;
                    border-radius: 999px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &.planet1 {
                        right: 10px;
                    }

                    &.planet2 {
                        right: 30px;
                        animation-delay: -6s;
                    }

                    &.planet3 {
                        right: 50px;
                        animation-delay: -12s;
                    }

                    &.planet4 {
                        right: 70px;
                        animation-delay: -18s;
                    }

                    &.planet5 {
                        right: 100px;
                        animation-delay: -24s;
                    }
                }

                @keyframes rotate {
                    from {
                        transform: rotate(0deg);
                    }

                    to {
                        transform: rotate(360deg);
                    }
                }

                @keyframes counter-rotate {
                    from {
                        transform: translateY(-50%) rotate(0deg);
                    }

                    to {
                        transform: translateY(-50%) rotate(-360deg);
                    }
                }


                @media (max-width: 1332px) {
                    margin: 0 auto;
                    display: flex;
                }

                @media (max-width: 532px) {
                    width: 379px;
                    /* 250 / 0.66 */
                    height: 379px;

                    .sun {
                        width: 76px;
                        /* 50 / 0.66 */
                        height: 76px;
                    }

                    .orbit {
                        &1 {
                            width: 182px;
                            /* 120 / 0.66 */
                            height: 182px;
                        }

                        &2 {
                            width: 212px;
                            /* 140 / 0.66 */
                            height: 212px;
                        }

                        &3 {
                            width: 242px;
                            /* 160 / 0.66 */
                            height: 242px;
                        }

                        &4 {
                            width: 273px;
                            /* 180 / 0.66 */
                            height: 273px;
                        }

                        &5 {
                            width: 303px;
                            /* 200 / 0.66 */
                            height: 303px;
                        }
                    }

                    .planet {
                        width: 65px;
                        /* 50 / 0.66 */
                        height: 65px;

                        &.planet1 {
                            right: 7.5px;
                            /* 5 / 0.66 */
                        }

                        &.planet2 {
                            right: 22.7px;
                            /* 15 / 0.66 */
                            animation-delay: -6s;
                        }

                        &.planet3 {
                            right: 37.9px;
                            /* 25 / 0.66 */
                            animation-delay: -12s;
                        }

                        &.planet4 {
                            right: 53px;
                            /* 35 / 0.66 */
                            animation-delay: -18s;
                        }

                        &.planet5 {
                            right: 75.7px;
                            /* 50 / 0.66 */
                            animation-delay: -24s;
                        }
                    }

                    .planet img {
                        width: 75%;
                        /* 50 / 0.66 */
                        height: 75%;
                    }
                }






            }


            @media (max-width: 1332px) {
                margin: 0 auto;
                display: flex;
            }

            @media (max-width:532px) {
                margin: 0;
                margin-left: -16px;
            }


        }

    }
}


.members {
    background: var(--blue1);
    position: relative;

    .inner-wrapper {
        max-width: 1920px;
        margin: 0 auto;

        .container {
            padding: 120px 16px;
            position: relative;

            .rotate360 {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                top: 0;
                z-index: 3;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
                background: var(--blue2);
                border-radius: 999px;
                width: 160px;
                height: 160px;
            }

            .rotate360 img {
                animation: spin 20s linear infinite;
            }

            @keyframes spin {
                to {
                    transform: rotate(360deg);
                }
            }

            .members-wrapper {
                display: flex;
                flex-direction: row;
                gap: 88px;
                align-items: center;

                @media (max-width: 1632px) {
                    justify-content: center;
                    flex-wrap: wrap;
                    flex-direction: column;

                }

                @media (max-width: 768px) {
                    justify-content: center;
                    flex-direction: column;

                    .golden-fund-wrapper {
                        transform: scale(75%);
                    }
                }

                @media (max-width: 540px) {

                    .golden-fund-wrapper {
                        transform: scale(50%);
                    }
                }

                .golden-fund-wrapper {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    background: #001f4d;
                    max-width: 720px;





                    .profiles {
                        display: flex;
                    }

                    .profile {
                        width: 180px;
                        height: 160px;
                        background: #ccc;
                    }

                    .branding-section {
                        background: #e0e0e0;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }

                    .branding-logo {
                        font-size: 24px;
                        font-weight: bold;
                        text-align: center;
                        padding: 20px 0;
                        width: 100%;
                    }


                    .logo-item {
                        width: 80px;
                        height: 80px;
                        background: #999;
                        border-radius: 8px;
                    }

                    @keyframes bounceMove {
                        0% {
                            transform: translateX(0%);
                        }

                        100% {
                            transform: translateX(-20%);
                        }
                    }

                    .grid {
                        display: grid;
                        grid-template-columns: 1fr 3fr 2fr;
                        grid-template-rows: 1fr 1fr;
                        height: 218px;
                        width: 100%;

                        .left {
                            background: var(--yellow);
                            grid-row: span 2;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: space-between;
                            width: 120px;

                            .slider {
                                height: 100%;
                                overflow: hidden;
                                position: relative;
                            }

                            .slide-track {
                                display: flex;
                                flex-direction: column;
                                animation: scrollDown 10s linear infinite;
                                gap: 40px;
                            }

                            .slide {
                                height: 100px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }

                            @keyframes scrollDown {
                                0% {
                                    transform: translateY(-280px);
                                }

                                100% {
                                    transform: translateY(0);
                                }
                            }
                        }



                        .center {
                            grid-row: span 2;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background: var(--green2);

                            .slider-horizontal {
                                width: 300px;
                                overflow: hidden;
                                position: relative;
                            }

                            .slide-horizontal {
                                animation: slideLeftRight 6s linear infinite alternate;
                                display: inline-block;
                            }

                            @keyframes slideLeftRight {
                                0% {
                                    transform: translateX(0);
                                }

                                100% {
                                    transform: translateX(150px);
                                }
                            }

                        }

                        .top-right {
                            background: var(--blue4);
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-weight: bold;
                            height: 100px;
                            overflow: hidden;
                            text-align: center;

                            .slider-vertical {
                                height: 100px;
                                overflow: hidden;
                                position: relative;
                            }

                            .slide-vertical {
                                display: flex;
                                flex-direction: column;
                                gap: 20px;
                                animation: slideBottomToTop 6s linear infinite;
                            }

                            @keyframes slideBottomToTop {
                                0% {
                                    transform: translateY(0);
                                }

                                100% {
                                    transform: translateY(-240px);
                                }
                            }
                        }



                        .bottom-right {
                            background: var(--beige);
                            text-align: center;
                            position: relative;
                            width: 300px;
                            height: 120px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            flex-direction: row;

                            .slider-horizontal-reverse {
                                overflow: hidden;

                            }

                            .slide-horizontal-reverse {
                                animation: slideRightLeft 4s linear infinite;
                                gap: 25px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                flex-direction: row;
                            }

                            @keyframes slideRightLeft {
                                0% {
                                    transform: translateX(0);
                                }

                                100% {
                                    transform: translateX(-250px);
                                }
                            }
                        }
                    }
                }

                .member-text {
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    justify-content: space-between;
                    max-width: 792px;
                    height: 378px;

                    @media (max-width: 1632px) {
                        text-align: center;
                        align-items: center;

                    }

                    span {
                        @extend .body-text-4;
                    }

                    h3 {
                        font-weight: normal;
                        font-size: 49px;

                        span {
                            @extend .highlight-title;
                            font-weight: normal;
                            font-size: 44px;
                            font-weight: bold;
                            line-height: 1;
                            margin-top: 2px;
                            text-align: center;
                        }
                    }


                    .highlight-title {
                        white-space: wrap;
                    }

                    .btn {
                        background: var(--button-light-gdnt);
                        display: flex;
                        align-items: center;
                        border-radius: 12px;
                        gap: 10px;
                    }

                }

            }


        }


    }

    .inner-wrapper::before,
    .inner-wrapper::after {
        content: "";
        position: absolute;
        width: 800px;
        height: 50%;
        background: url("./../images/member-bg-shadow.svg") no-repeat center center;
        background-size: cover;
        pointer-events: none;
        right: calc(50% - 1360px);
        opacity: 0.6;
    }

    .inner-wrapper::before {
        top: 0;
        background-position: center bottom;
    }

    .inner-wrapper::after {
        bottom: 0;
        background-position: center top;
    }



}

.speech {
    color: var(--gray);

    .container {
        padding: 120px 16px;

        .inner-wrapper {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 16px;

            @media (max-width:1548px) {
                flex-direction: column;
                align-items: center;
            }


            .text {
                max-width: 792px;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                align-items: start;

                @media (max-width:1548px) {
                    flex-direction: column;
                    align-items: center;
                    gap: 16px;
                    text-align: center;
                }

                h3 {
                    font-weight: normal;
                    font-size: 50px;
                    color: var(--text);

                    span {
                        font-weight: bold;
                    }
                }

                .btn {
                    gap: 8px;
                    background: var(--button-light-gdnt);
                }
            }

            .image {
                height: 474px;
                position: relative;

                .inner-wrapper {
                    width: 396px;
                    border-radius: 99px;
                    padding: 12px;
                    background: var(--speech-gdnt);
                    backdrop-filter: blur(30px);
                    position: absolute;
                    bottom: 16px;
                    color: var(--white);
                    left: 50%;
                    transform: translateX(-50%);
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: start;
                    gap: 10px;

                    .inner-text-wrapper {
                        display: flex;
                        flex-direction: column;
                    }
                }
            }
        }
    }
}

.infographics {
    .container {
        padding: 120px 16px;

        .inner-wrapper {
            display: flex;
            justify-content: center;
            flex-direction: column;
            text-align: center;

            span {
                color: var(--blue5);
                margin-bottom: 12px;
            }

            h3 {
                color: var(--text);
                font-weight: normal;
                margin-bottom: 16px;

            }

            p {
                color: var(--gray);
                margin-bottom: 24px;
            }


            .card-wrapper {
                display: flex;
                justify-content: center;
                flex-direction: row;
                gap: 16px;
                flex-wrap: wrap;

                .card {
                    width: 307px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    color: var(--gray);
                    flex-direction: column;
                    text-align: center;
                    border-radius: 40px;
                    padding: 20px;
                    gap: 10px;
                    border: 1px solid #1C84CF32;

                    span {
                        line-height: 1.2;
                        font-size: 40px;
                        font-weight: 900;
                        color: var(--blue5);
                        margin-bottom: 0;
                    }

                    p {
                        height: 66px;
                        max-width: 268px;
                        margin-bottom: 0;
                    }
                }

                .card:nth-child(2n) {
                    background: var(--blue1);
                    border: 0;

                    span {
                        @extend .highlight-title;
                    }

                    p {
                        color: var(--white);

                    }
                }
            }
        }
    }
}

.news {
    .container {
        padding: 120px 16px;

        .inner-wrapper {
            span {
                color: var(--blue5);
                margin-bottom: 12px;
            }

            h3 {
                color: var(--text);
                font-weight: normal;
                margin-bottom: 24px;

                span {
                    font-weight: bold;
                }
            }

            div {
                display: flex;
                justify-content: space-between;
                align-items: center;

                a {
                    color: var(--blue5);
                    display: flex;
                    gap: 6px;
                    align-items: center;
                }
            }



            .newscard-wrapper {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                clip-path: inset(1px);
                gap: -1px;

                .newscard {
                    width: 533px;
                    height: 450px;
                    overflow: hidden;
                    position: relative;
                    border: 0.1px solid #0B255627;
                    padding: 20px;

                    .image-wrapper {
                        width: 100%;
                        height: 450px;
                        display: flex;
                        justify-content: center;
                        align-items: start;
                        border-radius: 20px;

                        &::after {
                            content: '';
                            position: absolute;
                            inset: 0;
                            background: linear-gradient(180deg, #050D1C00 0%, #050D1CCC 80%);
                            opacity: 0;
                            pointer-events: none;
                            transition: opacity 0.6s linear;
                            z-index: 2;
                        }

                        .newscard-img {
                            margin: 20px;
                            width: 493px;
                            height: 247px;
                            position: absolute;
                            transition: all 0.6s ease-in-out;
                            top: 0;
                            object-fit: cover;

                        }
                    }

                    .newscard-data {
                        display: flex;
                        justify-content: start;
                        flex-direction: column;
                        align-items: start;
                        padding-top: 0;
                        gap: 8px;
                        transition: all 0.6s ease-in-out;
                        position: absolute;
                        z-index: 2;
                        top: 283px;

                        img {
                            padding: 0;
                            border-radius: 0;
                        }

                        h4 {
                            color: var(--black1);
                            transition: all 0.6s ease-in-out;
                            @extend .subtitle-2;
                        }

                        > p,
                        > h4 {
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 2;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            line-clamp: 2;

                        }

                        > p {
                            margin-bottom: 20px;
                        }

                        p {
                            @extend .body-text-3;
                            color: var(--black2);
                            display: -webkit-box;
                            transition: all 0.6s ease-in-out;

                        }

                        .details {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 32px;
                            padding-bottom: 0;
                            margin-bottom: 0;
                            height: 24px;

                            span {
                                display: flex;
                                align-items: center;
                                height: 24px;
                                gap: 6px;
                                padding-bottom: 0;
                                margin-bottom: 0;
                            }

                        }

                        .btn {
                            @extend .body-text-2;
                            background: var(--blue5);
                            display: flex;
                            justify-content: center;
                            flex-direction: row;
                            gap: 6px;
                        }
                    }
                }

                .newscard:hover {
                    .image-wrapper {
                        border-radius: 0;

                        &::after {
                            opacity: 1;
                        }

                        .newscard-img {
                            height: 450px;
                            top: 50%;
                            margin: 0;
                            transform: translate(0, -50%) scale(1.1);
                            transform-origin: center;
                        }


                    }

                    .newscard-data {
                        top: 207px;

                        * {
                            color: var(--white) !important;
                        }
                    }

                }
            }
        }
    }
}

.alliance {
    padding: 120px 16px;
    padding-bottom: 156px;

    .container {
        max-width: 1600px;
        border-radius: 20px;
        background: var(--partners-gdnt);
        height: 100%;
        height: 484px;
        padding: 60px;
        display: flex;
        flex-direction: row;
        position: relative;
        overflow: hidden;

        .inner-wrapper {
            display: flex;
            flex-direction: column;
            max-width: 732px;
            justify-content: space-between;
            align-items: start;
            height: 100%;

            h3 {
                @extend h4;
                font-weight: normal;

                span {
                    @extend h4;
                    font-weight: bold;
                }
            }

            span {
                @extend .body-text-4;
            }

            p {
                font-size: 18px;
            }

            .btn {
                background: var(--alliance-gdnt);
                display: flex;
                align-items: center;
                font-size: 19px;
                gap: 8px;
            }
        }

        .vertical-carousel1 {
            display: flex;
            flex-direction: column;
            overflow: hidden;
            align-items: center;
            position: absolute;
            gap: 20px;
            left: calc(50% + 214px);
            top: 0;
            height: 484px;

            .slider-track {
                display: flex;
                flex-direction: column;
                gap: 20px;
                animation: scroll-vertical 20s linear infinite alternate;
            }

            .slide {
                width: 250px;
                height: 160px;
                border-radius: 20px;
                border: 1px solid #ffffff33;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-shrink: 0;
            }
        }

        .vertical-carousel2 {
            display: flex;
            flex-direction: column;
            overflow: hidden;
            align-items: center;
            position: absolute;
            gap: 20px;
            left: calc(50% + 484px);
            top: 0;
            height: 484px;

            .slider-track {
                display: flex;
                flex-direction: column;
                gap: 20px;
                animation: scroll-vertical 20s linear infinite alternate-reverse;
            }

            .slide {
                width: 250px;
                height: 160px;
                border-radius: 20px;
                border: 1px solid #ffffff33;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-shrink: 0;
            }
        }

        @keyframes scroll-vertical {
            0% {
                transform: translateY(20%);
            }

            100% {
                transform: translateY(-50%);
            }
        }

    }
}

.contact {
    margin-bottom: -160px;

    .container {

        .contact-wrapper {
            display: flex;
            border-radius: 20px;
            overflow: hidden;
            position: relative;
            background-color: var(--blue3);
            color: var(--white);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            z-index: 3;

            .form-section {
                flex: 1;
                padding: 40px;
                z-index: 2;
            }

            .form-section h3 {
                margin-bottom: 10px;
                @extend h5;
                font-weight: 600;
            }

            .form-section p {
                font-size: 0.95rem;
                margin-bottom: 24px;
            }

            .form-grid {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 1rem;
            }

            .form-group {
                display: flex;
                flex-direction: column;
                gap: 16px;
            }


            input,
            textarea {
                background-color: rgba(255, 255, 255, 5%);
                border: 1px solid rgba(255, 255, 255, 10%);
                border-radius: 8px;
                padding: 12px;
                color: var(--white);

                font-size: 0.9rem;
            }

            textarea {
                resize: vertical;
                min-height: 80px;
            }

            .full-width {
                grid-column: span 2;
            }


            .submit-btn {
                @extend .body-text-1;
                margin-top: 16px;
                background: var(--button-light-gdnt);
                border-radius: 12px;
                color: var(--white);
                cursor: pointer;
                display: flex;
                align-items: center;
                gap: 8px;
                padding: 12px 16px;
            }

            .graphic-section {
                width: 50%;
                display: flex;
                justify-content: end;
                align-items: center;
                position: relative;
            }

            @media (max-width: 960px) {
                .contact-container {
                    flex-direction: column;
                }

                .graphic-section {
                    display: none;
                }

                .placeholder-graphic {
                    width: 100%;
                    height: 100%;
                    border-radius: 0;
                }

                .form-section {
                    padding: 1.5rem;
                }

                .form-grid {
                    grid-template-columns: 1fr;
                }

                .full-width {
                    grid-column: span 1;
                }

                .submit-btn {
                    width: 100%;
                    justify-content: center;
                }
            }
        }
    }
}

.footer::before {
    content: "";
    background-image: url("./../images/footerbefore.svg");
    width: 120px;
    height: 240px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-960px, -50%);
}

.footer::after {
    content: "";
    background-image: url("./../images/footerafter.svg");
    width: 120px;
    height: 240px;
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(960px, -50%);
}

.footer {
    background: var(--footer-gdnt);
    color: var(--white);
    padding-top: 240px;
    position: relative;

    .container {

        .footer-wrapper {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            z-index: -1;
            padding-bottom: 80px;



            .col {
                width: 400px;
                display: flex;
                justify-content: start;
                flex-direction: column;
                gap: 20px;

                > :first-child {
                    margin-top: 16px;
                }

                .footer-list {
                    opacity: 80%;
                    font-weight: normal;
                }

                p {
                    display: flex;
                    flex-direction: column;
                    gap: 6px;

                    a {
                        color: var(--blue5);
                    }
                }

                ul {
                    list-style: none;
                    padding: 0;
                    display: flex;
                    align-items: start;
                    flex-direction: column;

                    li {
                        @extend .body-text-3;
                        margin: 0;
                        cursor: pointer;
                        transition: color 0.2s;
                        margin-bottom: 10px;

                        &:hover {
                            color: #1fa6ff;
                        }
                    }
                }

                div {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;

                    .social-icons {
                        display: flex;
                        flex-direction: row;

                        a {
                            display: flex;
                            width: 40px;
                            justify-content: center;
                            align-items: center;
                            border-radius: 12px;
                            height: 40px;

                            background-color: rgba(28, 132, 207, 15%);

                            img {
                                fill: var(--blue5) !important;
                            }
                        }
                    }
                }

                .section,
                .contact,
                .location {
                    margin-bottom: 2rem;
                }



                .contact {
                    .wrapper {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        grid-template-rows: repeat(2, auto);
                        gap: 1rem;


                        a {
                            text-decoration: none;

                            color: var(--blue5);


                            &:hover {
                                text-decoration: underline;
                            }
                        }

                        .social-icons {
                            margin-top: 1rem;
                            display: flex;
                            gap: 0.8rem;

                            img {
                                background-color: #0c2e57;
                                border-radius: 50%;
                                font-size: 1.2rem;
                                color: white;
                                transition: background 0.2s;

                                &:hover {
                                    background-color: #1fa6ff;
                                }
                            }
                        }
                    }


                }

                iframe {
                    border-radius: 12px;
                    max-width: 388px;
                    width: 100%;
                    height: 150px;
                }
            }



            @media (max-width: 887px) {
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                padding-bottom: 100px;

                .col {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    ul {
                        align-items: center;
                    }

                    .address,
                    .social-icons {
                        margin-top: 20px;
                    }
                }

                .autohide {
                    display: none;
                }

                .section,
                .contact,
                .location {
                    flex: 1 1 100%;
                    max-width: 100%;
                    text-align: center;
                }

                .location {
                    iframe {
                        height: 240px;
                    }
                }

            }
        }

        .bottom {
            text-align: center;
            border-top: 1px solid #2d4a75;
            padding: 48px 0 32px 0;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            position: relative;

            .center-logo {
                position: absolute;
                left: 50%;
                top: 0;
                transform: translate(-50%, -50%);

                img {
                    background-color: #091733;
                    border-radius: 50%;
                    padding: 0 40px;
                }
            }

            .developer {
                color: #ccc;
                display: flex;
                align-items: center;
                gap: 6px;
                justify-content: center;

                a {
                    color: #fff;
                    text-decoration: none;
                    font-weight: bold;

                    &:hover {
                        color: #1fa6ff;
                    }
                }
            }

            > span {
                opacity: 0.6;
            }

            @media (max-width: 1338px) {
                padding-top: 82px;
            }

            @media (max-width: 768px) {
                flex-direction: column;
                gap: 1rem;
                text-align: center;
            }
        }


    }
}