:root {
  --black1: #19191B;
  --black2: #393F48;
  --black3: #757D8E;
  --black4: #B7BBCB;
  --black5: #BFC3D7;
  --black6: #DEE1EB;
  --black7: #F0F1F5;
  --black8: #F6F7FB;
  --white: #ffffff;
  --blue1: #0B2556;
  --blue2: #1A3975;
  --blue3: #00538E;
  --blue4: #2B5D99;
  --blue5: #1C84CF;
  --blue6: #608EE8;
  --green1: #009990;
  --green2: #4F959D;
  --navy: #547792;
  --yellow: #DDA853;
  --beige: #ADA991;
  --gray: #565B65;
  --member-gdnt: linear-gradient(228.37deg, #254D9A 2.94%, #1A3975 97.06%);
  --button-dark-gdnt: linear-gradient(180deg, #2B5BB9 0%, #1A3975 100%);
  --button-light-gdnt: linear-gradient(180deg, #1C84CF 0%, #0F6DB2 100%);
  --join-gdnt: linear-gradient(180deg, #EBEAFF 0%, #D9D7FA 100%);
  --be-partner-gdnt: linear-gradient(180deg, #F6EFBD 0%, #E4DCA6 100%);
  --text-gndt: linear-gradient(180deg, #68C0FF 50.39%, #1C84CF 100%);
  --partners-gdnt: linear-gradient(90deg, #123B88 0%, #0B2556 100%);
  --footer-gdnt: linear-gradient(360deg, #08132A 0%, #0B2967 100%);
}

@font-face {
  font-display: swap;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("./../fonts/lato-v24-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: url("./../fonts/lato-v24-latin-700.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  src: url("./../fonts/lato-v24-latin-900.woff2") format("woff2");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scrollbar-width: thin;
}
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scrollbar-width: thin;
}
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

body {
  height: 100%;
  position: relative;
  margin: 0;
  width: 100vw;
  font-family: "Lato", sans-serif;
  color: var(--white);
}

button {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -webkit-touch-callout: none;
  text-decoration: none;
  display: flex;
  align-items: center;
  flex-direction: row;
}

select,
option {
  background: inherit;
  color: inherit;
  border: 0;
  line-height: 130%;
}

span {
  font-size: inherit;
  font-weight: inherit;
}

img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -webkit-touch-callout: none;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}
ul li,
ol li {
  list-style: none;
}

h1, .hero .container .hero-wrapper h1 {
  line-height: 1;
  font-weight: bold;
  font-size: 74px;
}

h2 {
  line-height: 1.2;
  font-weight: bold;
  font-size: 40px;
}

h3 {
  line-height: 1.2;
  font-weight: 800;
  font-size: 50px;
}

h4 {
  line-height: 1.2;
  font-weight: bold;
  font-size: 50px;
}

h5 {
  line-height: 1.2;
  font-size: 40px;
  font-weight: bold;
}

p {
  line-height: 1.3;
}

a {
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -webkit-touch-callout: none;
  text-decoration: none;
}

.subtitle-1 {
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
}

.subtitle-2, .hero .container .card-wrapper .card .inner-wrapper span {
  font-weight: bold;
  font-size: 24px;
  line-height: 1.2;
}

.subtitle-3,
.subtitle-4,
.subtitle-5 {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.3;
}

.body-text, .body-text-4, .body-text-3, .footer .container .footer-wrapper .col ul li, .hero .container .card-wrapper .card .inner-wrapper p, .hero .container .hero-wrapper p, .body-text-1, .hero .container .card-wrapper .card a,
.body-text-2 {
  font-weight: 400;
  line-height: 1.3;
  font-size: 19px;
}

.body-text-1, .hero .container .card-wrapper .card a {
  font-weight: 500;
}

.body-text-3, .footer .container .footer-wrapper .col ul li, .hero .container .card-wrapper .card .inner-wrapper p, .hero .container .hero-wrapper p {
  font-size: 18px;
}

.body-text-4 {
  font-size: 16px;
}

.hidden {
  display: none !important;
}

.w-100 {
  width: 100%;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  overflow-x: hidden;
}

.main {
  position: relative;
}
.main .section {
  background-color: var(--white);
}

.btn {
  justify-content: center;
  color: var(--white);
  border: 0;
  padding: 12px 16px;
  border-radius: 12px;
  background: linear-gradient(180deg, #2B5BB9 0%, #1A3975 100%);
  font-weight: 500;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 14px 0;
  background-color: var(--blue1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1490196078);
}
.header .container {
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.header .container .inner-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}
@media (max-width: 960px) {
  .header .container .inner-container {
    font-size: 14px;
    gap: 12px;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
.header .container .inner-container .accessibility {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
  gap: 16px;
}
@media (max-width: 436px) {
  .header .container .inner-container .accessibility {
    gap: 8px;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
.header .container .inner-container .accessibility li {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-left: 1px solid gray;
  padding: 0 20px;
  height: 24px;
}
@media (max-width: 436px) {
  .header .container .inner-container .accessibility li {
    border-left: 1px solid var(--blue1);
  }
}
.header .container .inner-container .accessibility :first-child {
  border-left: 0;
}

.nav {
  position: absolute;
  top: 52px;
  width: 100%;
  z-index: 3;
  display: flex;
  align-items: center;
  backdrop-filter: blur(20px);
  background: rgba(5, 13, 28, 0.2);
}
@media (max-width: 872px) {
  .nav {
    top: 86px;
  }
}
.nav .container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .nav .container {
    display: none;
  }
}
.nav .container .nav-main {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.nav .container .nav-main ul {
  display: flex;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
}
@media (max-width: 1024px) {
  .nav .container .nav-main {
    min-width: 533px;
  }
  .nav .container .nav-main ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.nav .container .cabinet {
  background: var(--button-dark-gdnt);
  gap: 6px;
  padding: 12px 16px;
}
.nav .container .nav-buttons {
  display: flex;
  flex-direction: row;
  padding: 12px;
  gap: 12px;
}
@media (max-width: 1024px) {
  .nav .container .nav-buttons {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.nav .container .nav-buttons .nav-btn {
  background: rgba(255, 255, 255, 0.1019607843);
  height: 48px;
  width: 48px;
  border: 0;
  backdrop-filter: blur(20px);
}

.hero {
  max-height: 1060px;
  display: flex;
  flex-direction: column;
  color: var(--white);
  background-color: transparent !important;
}
.hero .video-wrapper {
  z-index: -1;
}
.hero .video-wrapper video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  inset: 0;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero .video-wrapper .video-overlay {
  position: absolute;
  inset: 0;
  background: rgba(5, 13, 28, 0.6);
}
.hero .container {
  position: relative;
  z-index: 2;
  padding-top: 332px;
}
.hero .container .hero-wrapper {
  max-width: 732px;
  margin: 0 auto;
  display: flex;
  gap: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero .container .hero-wrapper h1 {
  background: var(--text-gndt);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1;
  margin-top: 2px;
  text-align: center;
}
.hero .container .hero-wrapper h2 {
  font-weight: normal;
  line-height: 1;
  font-size: 55px;
  text-align: center;
  color: var(--white);
}
.hero .container .hero-wrapper p {
  text-align: center;
  font-weight: normal;
}
.hero .container .card-wrapper {
  padding: 40px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}
.hero .container .card-wrapper .card {
  width: 524px;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  display: flex;
  color: var(--text);
  padding: 20px;
  height: 200px;
  position: relative;
  border-radius: 16px;
}
.hero .container .card-wrapper .card .inner-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 287px;
  gap: 10px;
  color: var(--black1);
}
.hero .container .card-wrapper .card .inner-wrapper span {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.2;
}
.hero .container .card-wrapper .card .inner-wrapper p {
  font-size: 18px;
}
.hero .container .card-wrapper .card a {
  color: var(--blue1);
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 4px;
}
.hero .container .card-wrapper .card .img-card {
  position: absolute;
  right: 0;
  top: 0;
}
.hero .container .card-wrapper .card1 {
  background: linear-gradient(180deg, #EBEAFF 0%, #D9D7FA 100%);
}
.hero .container .card-wrapper .card2 {
  background: linear-gradient(180deg, #F6EFBD 0%, #E4DCA6 100%);
}
@media (max-width: 1024px) {
  .hero {
    max-height: 1060px;
  }
  .hero .container {
    padding-top: 220px;
  }
}

.about {
  position: relative;
  color: var(--black1);
  width: 100%;
}
.about ::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("./../images/backgorund-wave.png") center no-repeat var(--black8);
  background-size: cover;
  opacity: 0.0001;
}
.about .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about .about-wrapper {
  max-width: 792px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 12px;
  padding: 16px 0;
  justify-content: center;
}
@media (max-width: 1332px) {
  .about .about-wrapper {
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
  }
}
.about .about-wrapper h3 {
  font-size: 50px;
  font-weight: normal;
}
.about .about-wrapper h3 span {
  color: var(--blue5);
  font-weight: bold;
}
.about .about-wrapper .btn-about {
  background: var(--button-light-gdnt);
  border-radius: 12px;
  gap: 10px;
}
.about .solar-system {
  width: 500px;
  height: 500px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
}
.about .solar-system .sun {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  background: #fff;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.about .solar-system .orbit {
  position: absolute;
  border: 2px dashed var(--blue1);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.about .solar-system .orbit1 {
  width: 240px;
  height: 240px;
}
.about .solar-system .orbit2 {
  width: 280px;
  height: 280px;
}
.about .solar-system .orbit3 {
  width: 320px;
  height: 320px;
}
.about .solar-system .orbit4 {
  width: 360px;
  height: 360px;
}
.about .solar-system .orbit5 {
  width: 400px;
  height: 400px;
}
.about .solar-system .planet-container {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: rotate linear infinite;
}
.about .solar-system .planet-container.planet1 {
  animation-duration: 20s;
}
.about .solar-system .planet-container.planet2 {
  animation-duration: 20s;
  animation-delay: -4s;
}
.about .solar-system .planet-container.planet3 {
  animation-duration: 20s;
  animation-delay: -8s;
}
.about .solar-system .planet-container.planet4 {
  animation-duration: 20s;
  animation-delay: -12s;
}
.about .solar-system .planet-container.planet5 {
  animation-duration: 20s;
  animation-delay: -16s;
}
.about .solar-system .planet {
  position: absolute;
  top: 50%;
  animation: counter-rotate linear infinite;
  background: #fff;
  width: 100px;
  border-radius: 999px;
}
.about .solar-system .planet.planet1 {
  width: 100px;
  height: 100px;
  right: 10px;
  transform: translateY(-50%);
  animation-duration: 20s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about .solar-system .planet.planet2 {
  width: 100px;
  height: 100px;
  right: 30px;
  transform: translateY(-50%);
  animation-duration: 20s;
  animation-delay: -4s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about .solar-system .planet.planet3 {
  width: 100px;
  height: 100px;
  right: 50px;
  transform: translateY(-50%);
  animation-duration: 20s;
  animation-delay: -8s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about .solar-system .planet.planet4 {
  width: 100px;
  height: 100px;
  right: 70px;
  transform: translateY(-50%);
  animation-duration: 20s;
  animation-delay: -12s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about .solar-system .planet.planet5 {
  width: 100px;
  height: 100px;
  right: 100px;
  transform: translateY(-50%);
  animation-duration: 20s;
  animation-delay: -16s;
  display: flex;
  align-items: center;
  justify-content: center;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes counter-rotate {
  from {
    transform: translateY(-50%) rotate(0deg);
  }
  to {
    transform: translateY(-50%) rotate(-360deg);
  }
}
@media (max-width: 1332px) {
  .about .solar-system {
    margin: 0 auto;
    display: flex;
  }
}
@media (max-width: 768px) {
  .about .solar-system {
    width: 250px;
    height: 250px;
    margin: 0 auto;
  }
  .about .solar-system img {
    max-width: 50px;
  }
  .about .solar-system .sun {
    width: 50px;
    height: 50px;
  }
  .about .solar-system .orbit1 {
    width: 120px;
    height: 120px;
  }
  .about .solar-system .orbit2 {
    width: 140px;
    height: 140px;
  }
  .about .solar-system .orbit3 {
    width: 160px;
    height: 160px;
  }
  .about .solar-system .orbit4 {
    width: 180px;
    height: 180px;
  }
  .about .solar-system .orbit5 {
    width: 200px;
    height: 200px;
  }
  .about .solar-system .planet {
    width: 50px !important;
    height: 50px !important;
  }
  .about .solar-system .planet.planet1 {
    right: 5px;
  }
  .about .solar-system .planet.planet2 {
    right: 15px;
  }
  .about .solar-system .planet.planet3 {
    right: 25px;
  }
  .about .solar-system .planet.planet4 {
    right: 35px;
  }
  .about .solar-system .planet.planet5 {
    right: 50px;
  }
}

.contact {
  margin-bottom: -160px;
}
.contact .container .contact-wrapper {
  display: flex;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  background-color: var(--blue3);
  color: var(--white);
  margin: 2rem auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 3;
}
.contact .container .contact-wrapper .form-section {
  flex: 1;
  padding: 40px;
  z-index: 2;
}
.contact .container .contact-wrapper .form-section h5 {
  margin-bottom: 10px;
}
.contact .container .contact-wrapper .form-section p {
  font-size: 0.95rem;
  margin-bottom: 24px;
}
.contact .container .contact-wrapper .form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.contact .container .contact-wrapper .form-group {
  display: flex;
  flex-direction: column;
}
.contact .container .contact-wrapper .form-group label {
  font-size: 0.9rem;
  margin-bottom: 0.3rem;
}
.contact .container .contact-wrapper input,
.contact .container .contact-wrapper textarea {
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  padding: 12px;
  color: var(--white);
  font-size: 0.9rem;
}
.contact .container .contact-wrapper textarea {
  resize: vertical;
  min-height: 80px;
}
.contact .container .contact-wrapper .full-width {
  grid-column: span 2;
}
.contact .container .contact-wrapper .submit-btn {
  margin-top: 1rem;
  background-color: var(--button-light-gdnt);
  border: none;
  padding: 0.7rem 1.5rem;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.contact .container .contact-wrapper .graphic-section {
  width: 50%;
  display: flex;
  justify-content: end;
  align-items: center;
  position: relative;
}
@media (max-width: 960px) {
  .contact .container .contact-wrapper .contact-container {
    flex-direction: column;
  }
  .contact .container .contact-wrapper .graphic-section {
    display: none;
  }
  .contact .container .contact-wrapper .placeholder-graphic {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
  .contact .container .contact-wrapper .form-section {
    padding: 1.5rem;
  }
  .contact .container .contact-wrapper .form-grid {
    grid-template-columns: 1fr;
  }
  .contact .container .contact-wrapper .full-width {
    grid-column: span 1;
  }
  .contact .container .contact-wrapper .submit-btn {
    width: 100%;
    justify-content: center;
  }
}

.footer {
  background: var(--footer-gdnt);
  color: var(--white);
  padding-top: 240px;
}
.footer .container .footer-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  z-index: -1;
  padding-bottom: 80px;
}
.footer .container .footer-wrapper .col {
  width: 400px;
  display: flex;
  justify-content: start;
  flex-direction: column;
  gap: 20px;
}
.footer .container .footer-wrapper .col > :first-child {
  margin-top: 16px;
}
.footer .container .footer-wrapper .col p {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.footer .container .footer-wrapper .col p a {
  color: var(--blue5);
}
.footer .container .footer-wrapper .col ul {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: start;
  flex-direction: column;
}
.footer .container .footer-wrapper .col ul li {
  margin: 0;
  cursor: pointer;
  transition: color 0.2s;
  margin-bottom: 10px;
}
.footer .container .footer-wrapper .col ul li:hover {
  color: #1fa6ff;
}
.footer .container .footer-wrapper .col div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer .container .footer-wrapper .col div .social-icons {
  display: flex;
  flex-direction: row;
}
.footer .container .footer-wrapper .col div .social-icons a {
  display: flex;
  width: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  height: 40px;
  background-color: rgba(28, 132, 207, 0.15);
}
.footer .container .footer-wrapper .col div .social-icons a img {
  fill: var(--blue5) !important;
}
.footer .container .footer-wrapper .section,
.footer .container .footer-wrapper .contact,
.footer .container .footer-wrapper .location {
  margin-bottom: 2rem;
}
.footer .container .footer-wrapper .contact .wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 1rem;
}
.footer .container .footer-wrapper .contact .wrapper a {
  text-decoration: none;
  color: var(--blue5);
}
.footer .container .footer-wrapper .contact .wrapper a:hover {
  text-decoration: underline;
}
.footer .container .footer-wrapper .contact .wrapper .social-icons {
  margin-top: 1rem;
  display: flex;
  gap: 0.8rem;
}
.footer .container .footer-wrapper .contact .wrapper .social-icons img {
  background-color: #0c2e57;
  border-radius: 50%;
  font-size: 1.2rem;
  color: white;
  transition: background 0.2s;
}
.footer .container .footer-wrapper .contact .wrapper .social-icons img:hover {
  background-color: #1fa6ff;
}
.footer .container .footer-wrapper .location iframe {
  max-width: 388px;
  width: 100%;
  height: 150px;
}
@media (max-width: 887px) {
  .footer .container .footer-wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 100px;
  }
  .footer .container .footer-wrapper .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer .container .footer-wrapper .col ul {
    align-items: center;
  }
  .footer .container .footer-wrapper .autohide {
    display: none;
  }
  .footer .container .footer-wrapper .section,
  .footer .container .footer-wrapper .contact,
  .footer .container .footer-wrapper .location {
    flex: 1 1 100%;
    max-width: 100%;
    text-align: center;
  }
  .footer .container .footer-wrapper .location iframe {
    height: 240px;
  }
}
.footer .container .bottom {
  text-align: center;
  border-top: 1px solid #2d4a75;
  padding: 48px 0 32px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}
.footer .container .bottom .center-logo {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
}
.footer .container .bottom .center-logo img {
  background-color: #091733;
  border-radius: 50%;
  padding: 0 40px;
}
.footer .container .bottom .developer {
  color: #ccc;
  display: flex;
  align-items: center;
  gap: 6px;
  justify-content: center;
}
.footer .container .bottom .developer a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
.footer .container .bottom .developer a:hover {
  color: #1fa6ff;
}
.footer .container .bottom > span {
  opacity: 0.6;
}
@media (max-width: 1338px) {
  .footer .container .bottom {
    padding-top: 82px;
  }
}
@media (max-width: 768px) {
  .footer .container .bottom {
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }
}

/*# sourceMappingURL=main.css.map */
