:root {
    --black1: #19191B;
    --black2: #393F48;
    --black3: #757D8E;
    --black4: #B7BBCB;
    --black5: #BFC3D7;
    --black6: #DEE1EB;
    --black7: #F0F1F5;
    --black8: #F6F7FB;

    --white: #ffffff;

    --blue1: #0B2556;
    --blue2: #1A3975;
    --blue3: #00538E;
    --blue4: #2B5D99;
    --blue5: #1C84CF;
    --blue6: #608EE8;

    --green1: #009990;
    --green2: #4F959D;

    --navy: #547792;

    --yellow: #DDA853;

    --beige: #ADA991;

    --gray: #565B65;

    --member-gdnt: linear-gradient(228.37deg, #254D9A 2.94%, #1A3975 97.06%);
    --button-dark-gdnt: linear-gradient(180deg, #2B5BB9 0%, #1A3975 100%);
    --button-light-gdnt: linear-gradient(180deg, #1C84CF 0%, #0F6DB2 100%);
    --join-gdnt: linear-gradient(180deg, #EBEAFF 0%, #D9D7FA 100%);
    --be-partner-gdnt: linear-gradient(180deg, #F6EFBD 0%, #E4DCA6 100%);
    --text-gndt: linear-gradient(180deg, #68C0FF 50.39%, #1C84CF 100%);
    --partners-gdnt: linear-gradient(90deg, #123B88 0%, #0B2556 100%);
    --footer-gdnt: linear-gradient(360deg, #08132A 0%, #0B2967 100%);


}

@font-face {
    font-display: swap;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('./../fonts/lato-v24-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url('./../fonts/lato-v24-latin-700.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: url('./../fonts/lato-v24-latin-900.woff2') format('woff2');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scrollbar-width: thin;

    &::before {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        scroll-behavior: smooth;
        scrollbar-width: thin;
    }

    &::after {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        scroll-behavior: smooth;
        scrollbar-width: thin;
    }
}

body {
    height: 100%;
    position: relative;
    margin: 0;
    width: 100vw;
    font-family: "Lato", sans-serif;
    color: var(--white);
    overflow-x: hidden;
}

button {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    -webkit-touch-callout: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    flex-direction: row;
}


select,
option {
    background: inherit;
    color: inherit;
    border: 0;
    line-height: 130%;
}

span {
    font-size: inherit;
    font-weight: inherit;
}

img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    -webkit-touch-callout: none;
    text-decoration: none;
}


ul,
ol {
    list-style: none;

    li {
        list-style: none;
    }
}


h1 {
    line-height: 1;
    font-weight: bold;
    font-size: 74px;
}

h2 {
    line-height: 1.2;
    font-weight: bold;
    font-size: 40px;

}

h3 {
    line-height: 1.2;
    font-weight: 800;
    font-size: 50px;
}

h4 {
    line-height: 1.2;
    font-weight: bold;
    font-size: 50px;
}

h5 {
    line-height: 1.2;
    font-size: 40px;
    font-weight: bold;
}

p {
    line-height: 1.3;
}

a {
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    -webkit-touch-callout: none;
    text-decoration: none;
}

.subtitle-1 {
    font-weight: bold;
    font-size: 26px;
    line-height: 1.2;
}

.subtitle-2 {
    font-weight: bold;
    font-size: 24px;
    line-height: 1.2;
}

.subtitle-3,
.subtitle-4,
.subtitle-5 {
    font-weight: bold;
    font-size: 20px;
    line-height: 1.3;
}

.body-text,
.body-text-2 {
    font-weight: 400;
    line-height: 1.3;
    font-size: 19px;
}

.body-text-1 {
    @extend .body-text;
    font-weight: 500;
}

.body-text-3 {
    @extend .body-text;
    font-size: 18px;
}

.body-text-4 {
    @extend .body-text;
    font-size: 16px;
}

.hidden {
    display: none !important;
}

.w-100 {
    width: 100%;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
}


.main {
    position: relative;

    .section {
        background-color: var(--white);
    }
}

.btn {
    justify-content: center;
    color: var(--white);
    border: 0;
    padding: 12px 16px;
    border-radius: 12px;
    background: linear-gradient(180deg, #2B5BB9 0%, #1A3975 100%);
    font-weight: 500;
}


.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 14px 0;
    background-color: var(--blue1);
    border-bottom: 1px solid #FFFFFF26;

    .container {
        display: flex;
        justify-content: space-between;
        padding: 0;

        .inner-container {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            width: 100%;

            @media (max-width: 960px) {
                font-size: 14px;
                gap: 12px;
                justify-content: space-around;
                flex-wrap: wrap;
            }

            .accessibility {
                display: flex;
                flex-direction: row;
                align-items: center;
                font-size: 16px;
                gap: 16px;

                @media (max-width: 436px) {
                    gap: 8px;

                    justify-content: space-around;
                    flex-wrap: wrap;
                }

                li {
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    border-left: 1px solid gray;
                    padding: 0 20px;
                    height: 24px;

                    @media (max-width: 436px) {
                        border-left: 1px solid var(--blue1);
                    }
                }

                :first-child {
                    border-left: 0;
                }
            }
        }
    }
}

.nav {
    position: absolute;
    top: 52px;
    width: 100%;
    z-index: 3;
    display: flex;
    align-items: center;
    backdrop-filter: blur(20px);
    background: #050D1C33;

    @media (max-width:872px) {
        top: 86px;
    }


    .container {
        display: flex;
        justify-content: space-between;

        @media (max-width: 768px) {
            display: none;
        }

        .nav-main {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 30px;

            ul {
                display: flex;
                justify-content: center;
                gap: 24px;
                flex-wrap: wrap;
            }

            @media(max-width:1024px) {

                min-width: 533px;

                ul {
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

        .cabinet {
            background: var(--button-dark-gdnt);
            gap: 6px;
            padding: 12px 16px;
        }

        .nav-buttons {
            display: flex;
            flex-direction: row;
            padding: 12px;
            gap: 12px;

            @media (max-width: 1024px) {
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            .nav-btn {
                background: #ffffff1a;
                height: 48px;
                width: 48px;
                border: 0;
                backdrop-filter: blur(20px);
            }
        }
    }


}

.hero {
    max-height: 1060px;
    // min-height: calc(100vh - 52px); // OPTIONAL
    display: flex;
    flex-direction: column;
    color: var(--white);
    background-color: transparent !important;

    .video-wrapper {
        z-index: -1;

        video {
            width: 100vw;
            height: 100vh;
            object-fit: cover;
            position: fixed;
            inset: 0;
            z-index: -1;
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .video-overlay {
            position: absolute;
            inset: 0;
            background: #050D1C99;

        }
    }


    .container {
        position: relative;
        z-index: 2;
        padding-top: 332px;


        .hero-wrapper {
            max-width: 732px;
            margin: 0 auto;
            display: flex;
            gap: 16px;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h1 {
                @extend h1;
                background: var(--text-gndt);
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                line-height: 1;
                margin-top: 2px;
                text-align: center;
            }

            h2 {
                font-weight: normal;
                line-height: 1;
                font-size: 55px;
                text-align: center;
                color: var(--white);
            }

            p {
                @extend .body-text-3;
                text-align: center;
                font-weight: normal;
            }
        }

        .card-wrapper {
            padding: 40px 0;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 16px;

            .card {
                width: 524px;
                justify-content: space-between;
                align-items: start;
                flex-direction: column;
                display: flex;
                color: var(--text);
                padding: 20px;
                height: 200px;
                position: relative;
                border-radius: 16px;

                .inner-wrapper {
                    display: flex;
                    flex-direction: column;
                    max-width: 287px;
                    gap: 10px;
                    color: var(--black1);

                    span {
                        @extend .subtitle-2;
                        font-size: 24px;
                        font-weight: bold;
                        line-height: 1.2;
                    }

                    p {
                        @extend .body-text-3;
                        font-size: 18px;
                    }


                }

                a {
                    @extend .body-text-1;
                    color: var(--blue1);
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    gap: 4px;
                }

                .img-card {
                    position: absolute;
                    right: 0;
                    top: 0;
                }
            }

            .card1 {
                background: linear-gradient(180deg, #EBEAFF 0%, #D9D7FA 100%);

            }

            .card2 {
                background: linear-gradient(180deg, #F6EFBD 0%, #E4DCA6 100%);
            }
        }
    }

    @media(max-width:1024px) {


        max-height: 1060px;


        .container {
            padding-top: 220px;
        }
    }

}


.about {
    position: relative;
    color: var(--black1);
    width: 100%;

    ::before {
        content: "";
        position: absolute;
        inset: 0;
        background: url("./../images/backgorund-wave.png") center no-repeat var(--black8);
        background-size: cover;
        opacity: 0.0001;
    }

    .container {

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;


    }

    .about-wrapper {
        max-width: 792px;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 12px;
        padding: 16px 0;
        justify-content: center;

        @media(max-width:1332px) {
            align-items: center;
            margin: 0 auto;
            justify-content: center;
            text-align: center;
        }

        h3 {
            font-size: 50px;
            font-weight: normal;

            span {
                color: var(--blue5);
                font-weight: bold;
            }
        }

        .btn-about {
            background: var(--button-light-gdnt);
            border-radius: 12px;
            gap: 10px;

        }
    }

    .solar-system {
        width: 500px;
        height: 500px;
        position: relative;
        border-radius: 10px;
        overflow: hidden;
        display: flex;


        .sun {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            background: #fff;
            left: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            transform: translate(-50%, -50%);
            z-index: 10;
        }

        .orbit {
            position: absolute;
            border: 2px dashed var(--blue1);
            border-radius: 50%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .orbit1 {
            width: 240px;
            height: 240px;
        }

        .orbit2 {
            width: 280px;
            height: 280px;
        }

        .orbit3 {
            width: 320px;
            height: 320px;
        }

        .orbit4 {
            width: 360px;
            height: 360px;
        }

        .orbit5 {
            width: 400px;
            height: 400px;
        }

        .planet-container {
            position: absolute;
            width: 100%;
            height: 100%;
            animation: rotate linear infinite;
        }

        .planet-container.planet1 {
            animation-duration: 20s;
        }

        .planet-container.planet2 {
            animation-duration: 20s;
            animation-delay: -4s;
        }

        .planet-container.planet3 {
            animation-duration: 20s;
            animation-delay: -8s;
        }

        .planet-container.planet4 {
            animation-duration: 20s;
            animation-delay: -12s;
        }

        .planet-container.planet5 {
            animation-duration: 20s;
            animation-delay: -16s;
        }

        .planet {
            position: absolute;
            top: 50%;
            animation: counter-rotate linear infinite;
            background: #fff;
            width: 100px;
            border-radius: 999px;
        }

        .planet.planet1 {
            width: 100px;
            height: 100px;
            right: 10px;
            transform: translateY(-50%);
            animation-duration: 20s;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .planet.planet2 {
            width: 100px;
            height: 100px;
            right: 30px;
            transform: translateY(-50%);
            animation-duration: 20s;
            animation-delay: -4s;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .planet.planet3 {
            width: 100px;
            height: 100px;
            right: 50px;
            transform: translateY(-50%);
            animation-duration: 20s;
            animation-delay: -8s;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .planet.planet4 {
            width: 100px;
            height: 100px;
            right: 70px;
            transform: translateY(-50%);
            animation-duration: 20s;
            animation-delay: -12s;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .planet.planet5 {
            width: 100px;
            height: 100px;
            right: 100px;
            transform: translateY(-50%);
            animation-duration: 20s;
            animation-delay: -16s;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        @keyframes rotate {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(360deg);
            }
        }

        @keyframes counter-rotate {
            from {
                transform: translateY(-50%) rotate(0deg);
            }

            to {
                transform: translateY(-50%) rotate(-360deg);
            }
        }

        @media (max-width: 1332px) {
            margin: 0 auto;
            display: flex;
        }

        @media (max-width: 768px) {
            width: 250px;
            height: 250px;
            margin: 0 auto;

            img {
                max-width: 50px;
            }

            .sun {
                width: 50px;
                height: 50px;
            }

            .orbit1 {
                width: 120px;
                height: 120px;
            }

            .orbit2 {
                width: 140px;
                height: 140px;
            }

            .orbit3 {
                width: 160px;
                height: 160px;
            }

            .orbit4 {
                width: 180px;
                height: 180px;
            }

            .orbit5 {
                width: 200px;
                height: 200px;
            }

            .planet {
                width: 50px !important;
                height: 50px !important;
            }

            .planet.planet1 {
                right: 5px;
            }

            .planet.planet2 {
                right: 15px;
            }

            .planet.planet3 {
                right: 25px;
            }

            .planet.planet4 {
                right: 35px;
            }

            .planet.planet5 {
                right: 50px;
            }
        }
    }

}

.contact {
    margin-bottom: -160px;

    .container {

        .contact-wrapper {
            display: flex;
            border-radius: 12px;
            overflow: hidden;
            position: relative;
            background-color: var(--blue3);
            color: var(--white);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            z-index: 3;

            .form-section {
                flex: 1;
                padding: 40px;
                z-index: 2;
            }

            .form-section h5 {
                margin-bottom: 10px;
            }

            .form-section p {
                font-size: 0.95rem;
                margin-bottom: 24px;
            }

            .form-grid {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 1rem;
            }

            .form-group {
                display: flex;
                flex-direction: column;
            }

            .form-group label {
                font-size: 0.9rem;
                margin-bottom: 0.3rem;
            }

            input,
            textarea {
                background-color: rgba(255, 255, 255, 5%);
                border: 1px solid rgba(255, 255, 255, 10%);
                border-radius: 8px;
                padding: 12px;
                color: var(--white);

                font-size: 0.9rem;
            }

            textarea {
                resize: vertical;
                min-height: 80px;
            }

            .full-width {
                grid-column: span 2;
            }

            .submit-btn {
                margin-top: 1rem;
                background-color: var(--button-light-gdnt);
                border: none;
                padding: 0.7rem 1.5rem;
                border-radius: 8px;
                color: white;
                cursor: pointer;
                font-size: 0.9rem;
                display: flex;
                align-items: center;
                gap: 0.5rem;
            }

            .graphic-section {
                width: 50%;
                display: flex;
                justify-content: end;
                align-items: center;
                position: relative;
            }

            @media (max-width: 960px) {
                .contact-container {
                    flex-direction: column;
                }

                .graphic-section {
                    display: none;
                }

                .placeholder-graphic {
                    width: 100%;
                    height: 100%;
                    border-radius: 0;
                }

                .form-section {
                    padding: 1.5rem;
                }

                .form-grid {
                    grid-template-columns: 1fr;
                }

                .full-width {
                    grid-column: span 1;
                }

                .submit-btn {
                    width: 100%;
                    justify-content: center;
                }
            }
        }
    }
}


.footer {
    background: var(--footer-gdnt);
    color: var(--white);
    padding-top: 240px;

    .container {

        .footer-wrapper {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            z-index: -1;
            padding-bottom: 80px;

            .col {
                width: 400px;
                display: flex;
                justify-content: start;
                flex-direction: column;
                gap: 20px;

                > :first-child {
                    margin-top: 16px;
                }

                p {
                    display: flex;
                    flex-direction: column;
                    gap: 6px;

                    a {
                        color: var(--blue5);
                    }
                }

                ul {
                    list-style: none;
                    padding: 0;
                    display: flex;
                    align-items: start;
                    flex-direction: column;

                    li {
                        @extend .body-text-3;
                        margin: 0;
                        cursor: pointer;
                        transition: color 0.2s;
                        margin-bottom: 10px;

                        &:hover {
                            color: #1fa6ff;
                        }
                    }
                }

                div {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;

                    .social-icons {
                        display: flex;
                        flex-direction: row;

                        a {
                            display: flex;
                            width: 40px;
                            justify-content: center;
                            align-items: center;
                            border-radius: 12px;
                            height: 40px;

                            background-color: rgba(28, 132, 207, 15%);

                            img {
                                fill: var(--blue5) !important;
                            }
                        }
                    }
                }
            }

            .section,
            .contact,
            .location {
                margin-bottom: 2rem;
            }



            .contact {
                .wrapper {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: repeat(2, auto);
                    gap: 1rem;


                    a {
                        text-decoration: none;

                        color: var(--blue5);


                        &:hover {
                            text-decoration: underline;
                        }
                    }

                    .social-icons {
                        margin-top: 1rem;
                        display: flex;
                        gap: 0.8rem;

                        img {
                            background-color: #0c2e57;
                            border-radius: 50%;
                            font-size: 1.2rem;
                            color: white;
                            transition: background 0.2s;

                            &:hover {
                                background-color: #1fa6ff;
                            }
                        }
                    }
                }
            }

            .location {
                iframe {
                    max-width: 388px;
                    width: 100%;
                    height: 150px;
                }
            }

            @media (max-width: 887px) {
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                padding-bottom: 100px;

                .col {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    ul {
                        align-items: center;
                    }

                    .address,
                    .social-icons {
                        margin-top: 20px;
                    }
                }

                .autohide {
                    display: none;
                }

                .section,
                .contact,
                .location {
                    flex: 1 1 100%;
                    max-width: 100%;
                    text-align: center;
                }

                .location {
                    iframe {
                        height: 240px;
                    }
                }

            }
        }

        .bottom {
            text-align: center;
            border-top: 1px solid #2d4a75;
            padding: 48px 0 32px 0;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            position: relative;

            .center-logo {
                position: absolute;
                left: 50%;
                top: 0;
                transform: translate(-50%, -50%);

                img {
                    background-color: #091733;
                    border-radius: 50%;
                    padding: 0 40px;
                }
            }

            .developer {
                color: #ccc;
                display: flex;
                align-items: center;
                gap: 6px;
                justify-content: center;

                a {
                    color: #fff;
                    text-decoration: none;
                    font-weight: bold;

                    &:hover {
                        color: #1fa6ff;
                    }
                }
            }

            > span {
                opacity: 0.6;
            }

            @media (max-width: 1338px) {
                padding-top: 82px;
            }

            @media (max-width: 768px) {
                flex-direction: column;
                gap: 1rem;
                text-align: center;
            }
        }


    }
}